NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

DB_DIALECT=sqlite
DB_STORAGE=./database.sqlite

JWT_SECRET=altere_esta_chave_secreta
API_KEY=altere_esta_chave_api

FOTOS_PATH=./fotos_plantas
LOG_LEVEL=info

MONGODB_URI=mongodb://mongo:27017/selene